*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
/*   font-size: calc(0.8em + 1vw); */
}

body{
  font-family: 'Open Sans', sans-serif;
  --main-color: #111;
  --important-color: green;
  --text-color: #fff;
  --text-color-gray: #ccc;
  --lyrics-color: red;

  background-color: var(--main-color);
  color: var(--text-color);
}

img{
  width: 95%;
}

button{
  border: none;
  background-color: transparent;
/*   height: 24px;
  width: 24px; */
}

ion-icon{
  height: 28px;
  width: 28px;
  color: var(--text-color);
}

.section{
/*   padding: 1rem; */
  padding: 0 1rem;
}

/* Main menu */
.top-menu{
  display: flex;
  justify-content: space-between;
  align-items: center;

/* Posiblemente eliminar lo siguiente */
  width: 97%;
  margin: 0 auto;
  padding-top: 1em;
  margin-bottom: 1em;
}

.minimize-icon{
  transform: scaleY(1.2);
}

.title-text{
  text-align: center;
}

.playing-from-text{
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--text-color-gray);
}

.list-playing-from{
  font-weight: 600;
}

.player-section{
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
/*   gap: 4em; */
}

@media (min-width: 32.5em){
  .player-section{
    height: initial;
    display: block;
  }
}

.cover{
  display: flex;
  justify-content: center;
/*   margin: 4em 0; */
}

@media(min-width: 32.5em){
  .cover{
    background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url(../img/album-cover.jpg);
    height: 55vh;
    width: 95%;
    margin: 0 auto;
/* Applies only to background images */
    background-position: center;
  }
  .cover img{
    object-fit: contain;
  }
}

.song-control{
  padding: 0 1.1em;
}

@media(min-width: 32.5em){
  .song-control{
    margin-bottom: 1.5em;
  }
}

.song-info{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1em;
}

@media (min-width: 32.5em){
  .song-info{
    margin-top: 1em;
  }
}

.song-name{
  font-size: 1.4rem;
  font-weight: 600;
}

.artist{
  color: var(--text-color-gray);
  margin-top: 0.2em;
}

.song-duration-bar{
  width: 100%;
  height: 0.3em;
}

.time-stamps{
  display: flex;
  justify-content: space-between;
  /*   margin-bottom: 1.8em; */
}

.player-buttons{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*   margin-bottom: 1.5em; */
}

.play-pause-button{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 70px;
  background-color: #fff;
  border-radius: 50%;
  margin: 0 2.4em;
}

.song-menu ion-icon{
  height: 32px;
  width: 32px;
}

@media(min-width:  43.75em){
  .song-menu{
    /*     width: 60%; */
    margin: 0 auto;
  }
}

ion-icon[name="play"]{
  color: #000;
}

.songs-submenu{
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
  padding: 0 1.1em;
}

.songs-submenu ion-icon{
  color: var(--text-color-gray);
  height: 24px;
  width: 24px;
}

.lyrics-container{
  background-color: red;
  padding: 1em;
  border-radius: 0.7em;
  height: 40vh;
  width: 95%;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1em;
}

@media(min-width: 43.75em){
  .lyrics-container{
    width: 60%;
    height: 50vh;
    padding: 2em;
  }
}

.lyrics-container > header{
  text-transform: uppercase;
  font-weight: 700;
  transform: scaleY(0.92);
  letter-spacing: 0.5px;
}

.lyrics{
  font-size: 1.5rem;
  font-weight: 700;
  overflow: hidden;
}

/* Aun debo ajustar el max-width (o incluso width) del container de lyrics */

.share-button{
  display: flex;
  height: 2rem;
  width: 38%;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  border: 0.5px solid var(--text-color-gray);
  border-radius: 500em;
  margin-left: auto;
  flex-shrink: 0;
}

@media(min-width: 43.75em){
  .share-button{
    width: 10rem;
  }
}

.share-icon{
  height: 12px;
  width: 12px;
}

.share-button > p{
  color: var(--text-color);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.7rem;
  letter-spacing: 1px;
}
